@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Pretendard/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'SUITE Variable';
    font-weight: 300 900;
    src: url('./fonts/SUITE/SUITE-Variable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode/FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode/FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode/FiraCode-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode/FiraCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('./fonts/FiraCode/FiraCode-VF.woff2') format('woff2-variations');
    font-weight: 300 700;
    font-style: normal;
}